body {
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: stretch; 
justify-content: space-between;
  flex-wrap: wrap;
  font-family: Roboto;
}

.notes {
  margin: 0.5em;
  padding-left: 1;

  max-width: 30em;
  list-style: none;
}

.add-note {
  background-color: #fdfdfd;
  margin: 0.5em;
  padding-left: 1;
  border: 4px solid #ccc;
}

.note {
  overflow: auto;

  margin-bottom: 0.5em;
  padding: 0.8em;

  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.3);
}
.note:hover {
  box-shadow: 0 0 0.3em 3em rgba(10,0,0,.7);

  transition: 3.6s;
}

.note .value {
  /* force to use inline-block so that it gets minimum height */
  display: inline-block;
}

.note .editable {
  float: left;
}
.note .delete {
  float: right;

  padding: 0;

  background-color: #fdfdfd;
  border: none;

  cursor: pointer;

  visibility: hidden;
}
.note:hover .delete {
  visibility: visible;
}
li { background-color: yellow; }
#lol { font-family: Arial; }
#app { background-color: red; width: 100px; height: 100px;}
