@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

$font: "Karla", sans-serif;
$primary-color: #3e6f9e;

h3 {
    font-family: $font;
      color: $primary-color;
    }
h3:hover {
  font-family: arial;
}
